<div class="site-atmosphere" aria-hidden="true">
  <div class="atmo-blob atmo-blob--a"></div>
  <div class="atmo-blob atmo-blob--b"></div>
  <div class="atmo-blob atmo-blob--c"></div>
  <div class="atmo-vignette"></div>
</div>

